<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me | Your Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Your Logo</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home_routes.home') }}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <h1>
        About Me
    </h1>

    <main>
        <p>
            Hi! I am Jake Blackstock, a current MSc Computing student at Cardiff University.
        </p>
        <p>
            I am currently learning to code in Python and Javascript, and have a passion for expressing my creativity through building websites.
        </p>
        <p>
            I am extremely interested in Software Development, and am aiming to go into that field upon finishing my MSc
        </p>

        <h2>
            Education
        </h2>
    
        <br>
    
        <h2>
            Skills
        </h2>
    </main>

    <footer>
        <p>&copy; 2023 Your Flask App</p>
    </footer>

</body>
</html>