<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Your Logo</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home_routes.home') }}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <h1>Jake Blackstock</h1>

    <main>
        <h2>
            About Me
        </h2>

        <p>
            Insert intro from CV in here
        </p>

        <div class="container">
            <a href="{{ url_for('about.about') }}" class="textcard">
                <table>
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='images/CV.png') }}" alt="CV Logo" width="150" height="150">
                            <p2>Find out more information about me!</p2>
                        </td>
                    </tr>
                </table>
            </a>

            <a href="https://github.com/jakeblackstock" class="textcard">
                <table>
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='images/github.png') }}" alt="Github Logo" width="150" height="150">
                            <p2>Some of my projects can be found here</p2>
                        </td>
                    </tr>
                </table>
            </a>
        </div>

        <br>

        <h2>
            Education
        </h2>

        <br>

        <h2>
            Skills
        </h2>

        <br>
        
        <!-- textcards for projects -->
        <h2>
            Project Portfolio
        </h2>

        <div class="container">
            <a href="" class="textcard">
                <table>
                    <tr>
                        <td>
                            <!-- <h3>Augmented Reality and Robotics</h3> -->
                            <img src="{{ url_for('static', filename='images/ARlogo.png') }}" alt="AR Logo" width="150" height="150">
                            <p2>An exciting project exploring how robotics can be controlled through an augmented reality interface</p2>
                        </td>
                    </tr>
                </table>
            </a>

            <a href="" class="textcard">
                <table>
                    <tr>
                        <td>
                            <!-- <h3>Automated Assessment Tool</h3> -->
                            <img src="{{ url_for('static', filename='images/AATlogo.png') }}" alt="AAT Logo" width="150" height="150">
                            <p2>A group project that streamlined learning through an automated assessment tool</p2>
                        </td>
                    </tr>
                </table>
            </a>

            <a href="" class="textcard">
                <table>
                    <tr>
                        <td>
                            <h3>Future Project</h3>
                            <p2>Description of future project</p2>
                        </td>
                    </tr>
                </table>
            </a>
        </div>

        <br>

        <footer>
            Jake Blackstock 2023
        </footer>

    </main>
</body>
</html>